<div class="container">
  <h3>Bienvenido a nuestra Aplicación OnLineStore</h3>
  <form [formGroup] = "fgValidador" (ngSubmit) ="IdentificarUsuario()">
    <div class="form-floating mb-3">
      <input formControlName = 'usuario' type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput"><i class="material-icons prefix">email</i> Usuario</label>

    </div>
    <div class="form-floating">
      <input formControlName = 'clave' type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword"><i class="material-icons prefix">lock</i> Clave</label>
    </div>
    <br>
    <div class="col-12">
      <button [disabled]="!fgValidador.valid" class="btn btn-primary" type="submit">Ingresar
      </button>
    </div>
    <br>
    <br>
  </form>
</div>