<h1>BUSCAR PERSONAS</h1>

<form class="row g-3 needs-validation" novalidate>
  
    <div class="col-md-4">
      <label for="txtNombres" class="form-label">Nombres</label>
      <input type="text" class="form-control" id="txtNombres" required>
      <div class="valid-feedback">
        campo requerido
      </div>
    </div>
    <div class="col-md-4">
      <label for="txtApellidos" class="form-label">Apellidos</label>
      <input type="text" class="form-control" id="txtApellidos" required>
      <div class="valid-feedback">
        campo requerido
      </div>
    </div>
    <div class="col-md-4">
      <label for="txtcorreo" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input type="text" class="form-control" id="txtcorreo" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          campo requerido
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="txtDireccion" class="form-label">Dirección</label>
      <input type="text" class="form-control" id="txtDireccion" required>
      <div class="invalid-feedback">
        campo requerido
      </div>
    </div>
    <div class="col-md-6">
        <label for="txtcelular" class="form-label">Celular</label>
        <input type="text" class="form-control" id="txtcelular" required>
        <div class="invalid-feedback">
          campo requerido
        </div>
      </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Buscar</button>
    </div>
  </form>