

<div id="cuerpo" class="grid">
    <!--About Us contenedor-->
    <div id="menu-vertical" >
        <h5 class="mb-3"><i class="material-icons prefix">settings</i> Menú Configurción</h5>
        <div class="row">
            <ul class="list-unstyled" >
                <div class="col-sm-6"><a routerLink="/administracion/buscarproductos">Lista de Productos</a></div>
                <div class="col-sm-6"><a routerLink="/administracion/crearproductos">Crear Productos</a></div>
                <div class="col-sm-6"><a routerLink="/administracion/editarproductos">Editar Productos</a></div>
                <div class="col-sm-6"><a>Lista Usuarios</a></div>
                <div class="col-sm-6"><a>Crear de Usuario</a></div>
                <div class="col-sm-6"><a>Perfil de Usuario</a></div>
            </ul>
        </div>    
    </div>
    
    <!--Contacte co nosotros contenedor-->
    <div id="connect" style="background: white">
        <h5 class="mb-3">Mostrar segun la opción seleccionada</h5>
        
      
     
    </div>
    </div>