<div class="container">
<h3>EDITAR PRODUCTOS</h3>

<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-6">
      <label for="txtNombreProducto" class="form-label">Nombre Producto</label>
      <input type="text" class="form-control" id="txtNombreProducto" required>
      <div class="valid-feedback">
        campo requerido
      </div>
    </div>
    <div class="col-md-6">
      <label for="txtDescripcionProducto" class="form-label">Descripcion Producto</label>
      <input type="text" class="form-control" id="txtDescripcionProducto" required>
      <div class="valid-feedback">
        campo requerido
      </div>
    </div>
    <div class="col-md-6">
      <label for="txtReferencia" class="form-label">Referencia</label>
      <input type="text" class="form-control" id="txtReferencia" required>
      <div class="invalid-feedback">
        campo requerido
      </div>
    </div>
    <div class="col-md-6">
        <label for="txtPrecio" class="form-label">Precio</label>
        <input type="text" class="form-control" id="txtPrecio" required>
        <div class="invalid-feedback">
          campo requerido
        </div>
      </div>
      <div class="col-md-6">
        <label for="txtExistencia" class="form-label">Existencia</label>
        <input type="text" class="form-control" id="txtExistencia" required>
        <div class="invalid-feedback">
          campo requerido
        </div>
      </div>
      <div class="col-md-6">
        <label for="txtCategoria" class="form-label">Categoria</label>
        <input type="text" class="form-control" id="txtCategoria" required>
        <div class="invalid-feedback">
          campo requerido
        </div>
      </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Editar</button>
    </div>
  </form>
</div>