*{
    box-sizing: border-box;
  }
  section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
  }
  .card{
    width: 100%;
  }
  .estilo-b
  {
    font-family: sans-serif;
    width: 20%;
    text-align: center;
  }
  span{
    font-size: 20px;
  }
  .estilo-b .img-container{
    overflow: hidden;
    position: relative;
    width: 255px;
    border-radius: 15px;
  }
  .estilo-b .img-container img{
    width: 100%;
  }
  .estilo-b .img-container{
    width: 100%;

  }
  .estilo-b .img-container .precio{
    position: absolute;
    top: 10px;
    left: 0px;
    font-size: 15px;
    background: yellow;
    padding: 15px;
    color: black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .estilo-b .img-container .favorito{
    position: absolute;
    bottom: 10px;
    right: 0px;
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  .estilo-b .img-container .favorito svg{
    transform: translatex(-3px);
  }
  .estilo-b .img-container .favorito:hover{
    background: red;
  }
  .estilo-b .img-container .favorito:hover svg{
    fill: white;
  }
  .estilo-b a{
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  .estilo-b a:hover{
    bottom: -10px;
    color: black;
    background-color: transparent;
    padding: 10px;
    border: 1px solid black;
  }
  .estilo-b{
    border-radius: 20px;
  }