
<div id="cuerpo_2">
<div class="container">
    <h4>Catálogo de Productos</h4>
  <div class="row" *ngFor ="let p of listadoRegistros">
    <div class="col s12">
      <div class="card horizontal">
          <span class="card-title"><strong>{{p.nombreProducto}}</strong></span>  
        <div class="card-image waves-effect waves-block weaves-light" class="imagenproducto">
          <img src="{{p.imagen}}" class="imagenproducto">
        </div>
        <div class="card-content">
          <p>{{p.descripcionProducto}}</p>
          <p>{{p.precio}}</p>
        </div>
        <div class="card-action">
          <a href="#">Comprar</a>
          <a href="#">Financiar</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>