<p>ver-productos works!</p>

<div id="body_2">
    <div>
        <!--Inicio-->

        <!--Contenedor de Misión-->
        <div class="accordion" id="accordionExample">
            <!--Boton 1 Acordeon - Auduio -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h2><strong>Audio</strong></h2>
                    </button>
                </h2>
            </div>

            <!--Contenido 1 Acordeon - Audio -->
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <!--contenedores de tarjetas-->
                    <section>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/Equipo%201.jpg" alt="producto 1">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>
                                
                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/Equipo%202.jpg" alt="producto 2">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>
                               
                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/Equipo%203.jpg" alt="producto 3">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>
                              
                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/equipo%204.jpg" alt="producto 4">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>
                                
                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                    </section>
                    <section>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/equipo%205.jpg" alt="producto 5">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>
                                
                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/Equipo%206.jpg" alt="producto 6">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>
                                
                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/equipo%207.jpg" alt="producto 7">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>
                             
                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/equipo%208.jpg" alt="producto 8">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>
                    
                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                    </section>
                    <section>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/equipo%209.jpg" alt="producto 9">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>
                              
                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/equipo%2010.jpg" alt="producto 10">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>

                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/equipo%2011.jpg" alt="producto 11">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>
                                
                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/equipo%2012.jpg" alt="producto 12">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>
                               
                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                    </section>
                    <section>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/equipo%2013.jpg" alt="producto 13">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>
                                
                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/Equipo%2014.jpg" alt="producto 14">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>
                                
                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/Equipo%2015.jpg" alt="producto 15">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>
                               
                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                        <div class="card estilo-b">
                            <div class="img-container">
                                <img src="../fuente/img/equiposonido/equipo%2016.jpg" alt="producto 16">
                                <span class="precio">15% de descuento</span>
                                <span class="favorito">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                                    </svg>
                                </span>
                            </div>
                            <p>Celular iphone 13 plus</p>
                            <h4>
                                
                                <span><strong>$/870.000</strong></span>
                            </h4>
                            <a href="#">Añadir al carrito</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--fin de las tarjetas-->