
<div id="cuerpo" class="grid">
  <!--About Us contenedor-->
  <div id="about-us" style="background: #17ABBF">
      <h3 class="mb-3">Acerca de</h3>
      <p>Somos un equipo de personas apasionadas cuyo objetivo es mejorar la vida de todos a través de productos disruptivos. 
                    <br/><br/>Creamos excelentes productos para resolver sus problemas comerciales.</p>
  </div>
  
  <!--Contacte co nosotros contenedor-->
  <div id="connect" style="background: #17ABBF">
      <h5 class="mb-3">Contacte con nosotros</h5>
      <ul class="list-unstyled" >
        <li>
          <i class="fa fa-comment fa-fw mr-2">​</i>
          <span>
            <a href="/contactus" style="color:white">Contáctenos</a>
          </span>
        </li>
        <li>
          <i class="fa fa-envelope fa-fw mr-2">​</i>
          <span>
            <a href="mailto:info@yourcompany.example.com" style="color:white">tiendaonline.equipo4@gmail.com</a>
          </span>
        </li>
        <li>
          <i class="fa fa-phone fa-fw mr-2">​</i>
          <span class="o_force_ltr">
            <a href="tel:+1 (650) 555-0111" style="color:white">+57 311 211 77 99</a>
          </span>
        </li>
      </ul>
    
    <!--Redes Sociales contenedor-->
      <div id="social-media" class="s_share text-left" data-snippet="s_share" data-name="Social Media" >
        <h5 class="s_share_title d-none">Síganos</h5>
        
         <a href="" class="s_share_facebook" target="_blank" style="color: white">
          <i class="fa fa-facebook rounded-circle shadow-sm">​</i>
        </a>
        <a href="" class="s_share_twitter" target="_blank" style="color: white" >
          <i class="fa fa-twitter rounded-circle shadow-sm">​</i>
        </a>
        <a href="" class="s_share_linkedin" target="_blank" style="color: white">
          <i class="fa fa-linkedin rounded-circle shadow-sm">​</i>
        </a>
        <a href="" class="text-800 float-right">
          <i class="fa fa-home rounded-circle shadow-sm" style="color: white">​</i>
        </a>
      </div>
  </div>
  </div>
  <div class="footer">
      <div class="o_footer_copyright o_colored_level o_cc" data-name="Copyright" >
         <div class="container py-3" >
             <div class="row">
                 <div class="container" id="foot" style="align-content: center;">
                     <a style="color: white; font-style: italic;">Copyright &copy; OnLineStore</a>
                 </div>
             </div>
         </div>
     </div>
  </div>